<div class="piclist">
  <div class="piclist__wrapper">
    <div *ngFor="let pic of pics" class="piclist__image-box">
      <a [routerLink]="['/pics', pic.id]" (click)="scrollToTop()"
        ><img [src]="pic.url" class="piclist__image" alt="pic"
      /></a>
    </div>
  </div>
</div>
<div class="picslist__buttons-box">
  <button
    (click)="previousPage()"
    class="picslist__button"
    [disabled]="disablePreviousButton"
  >
    Previous pics
  </button>
  <button
    (click)="nextPage()"
    class="picslist__button"
    [disabled]="disableNextButton"
  >
    Load More
  </button>
</div>
