@import "../../../styles/partials/_variables",
  "../../../styles/partials/_mixins", "../../../styles/partials/_breakpoints",
  "../../../styles/partials/_functions";

.piclist {
  @include spacing($margin: 0);
  @include flex-center;

  .piclist__wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.5rem;
    @include display-small {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.75rem;
    }
    @include display-medium {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.5rem;
    }
    @include display-large {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;
    }
    @include display-xlarge {
      grid-template-columns: repeat(4, 1fr);
    }
    @include display-xxlarge {
      grid-template-columns: repeat(5, 1fr);
    }

    .piclist__image-box {
      @include flex-center;
      display: relative;

      .piclist__image {
        object-fit: cover;
        margin: 0;
        width: 180px;
        height: 180px;
        @include display-small {
          width: 140px;
          height: 140px;
        }
        @include display-medium {
          width: 210px;
          height: 210px;
        }
        @include display-large {
        }
        @include display-xxlarge {
          width: 245px;
          height: 245px;
        }
        border-radius: 5px;
        transition: filter 0.3s;
      }
      .piclist__image {
        &:hover {
          cursor: pointer;
          filter: brightness(0.6);
          filter: blur(2px);
        }
      }
    }
  }
}

.picslist__buttons-box {
  @include flex-center;
  padding-top: rem(20px);
  gap: rem(20px);

  .picslist__button {
    @include button;
  }
}
