<section class="about">
  <h1>About the Pardina de Broto and her new inhabitants</h1>
  <div class="about__image-box">
    <img
      class="about__image"
      src="https://i.postimg.cc/xTNFNMqy/1718363986560.jpg"
      alt="Pardina de Broto image"
    />
  </div>
  <p class="about__text">
    Nestled amidst the breathtaking landscapes of the Huesca Pyrenees, Broto is
    a picturesque village that exudes a rustic charm and a rich cultural
    heritage. With its cobblestone streets, traditional stone houses, and a
    stunning backdrop of the Ordesa y Monte Perdido National Park, Broto offers
    a tranquil escape into the heart of the Spanish Pyrenees.
  </p>
  <p>
    The Pardinas de Broto are a series of small, traditional villages located on
    the outskirts of Broto, now uninhabited, and are used to take care of the
    livestock, depending whether the family that owns the lands still continue
    with the tradition. Each Pardina has its own unique character and charm,
    some still with cobblestone streets and traditional stone houses (now
    falling down from not being used), where you enjoy the tranquility of the
    environment and the immensity of nature and its great mountains.
  </p>
  <p>
    In one of the Pardinas is were I live after rebuilding one of the stone
    houses that was starting to collapse. The dream of my life come true. And
    the place where my health has finally improved at last after living my
    entire life in a stressful city. Moreover, here I definitely find the
    perfect quiet work environment, calm and without distractions that makes me
    be more efficient, focused and productive.
  </p>
  <p>
    My name is Vanesa and I am a Frontend Developer. The white dog you see in
    the pictures is my best friend Walter. Nice to meet you and thank you for
    visiting my photos blog. You can find more about me in my
    <a href="https://www.vanesascode.com" target="_blank">portfolio</a>.
  </p>
</section>
