<div class="picdetails">
  <h1>
    {{ pic.title }}
  </h1>
  <div class="picdetails__image-box">
    <img [src]="pic.url" />
    <div class="picdetails__date">
      <p>{{ pic.date }}</p>
    </div>
  </div>
  <div class="picdetails__text">
    <p>{{ pic.text }}</p>
    <div class="picdetails__signature">
      <p>{{ pic.signature }}</p>
    </div>
  </div>
  <div class="picdetails__buttons-box">
    <button class="picdetails__button" (click)="goBack()">Previous One</button>
    <button class="picdetails__button" (click)="goNext()">Next One</button>
  </div>
</div>
