@import "../styles/partials/_variables", "../styles/partials/_mixins",
  "../styles/partials/_breakpoints", "../styles/partials/_functions";

.home {
  width: 100%;
}

.home__box {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
