@import "../../../styles/partials/_variables",
  "../../../styles/partials/_mixins", "../../../styles/partials/_breakpoints",
  "../../../styles/partials/_functions";

footer {
  @include flex-center;
  gap: 1rem;
  @include display-tiny {
    text-align: center;
    padding: rem(10px);
    font-size: rem(12px);
    @include flex-column;
  }
  @include display-medium {
    font-size: rem(14px);
    padding: rem(20px);
  }
  .footer__link {
    @include display-tiny {
      display: block;
    }
    @include display-large {
      display: none;
    }
    cursor: pointer;
    text-decoration-line: none;
    color: black;
    font-family: "Gwendolyn", sans-serif;
    font-size: rem(30px);
    font-weight: weight(bold);
    margin-bottom: rem(20px);
  }
}
