@import "../../../styles/partials/_variables",
  "../../../styles/partials/_mixins", "../../../styles/partials/_breakpoints",
  "../../../styles/partials/_functions";
@import url("https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&display=swap");

.header {
  margin-top: rem(20px);
  padding: rem(20px);
  @include display-tiny {
    @include flex-center;
  }
  @include display-large {
    @include flex-between;
  }

  .header__logo {
    @include display-tiny {
      width: 100%;
    }
    @include display-medium {
      width: 450px;
    }
    object-fit: cover;
  }

  .header__link {
    @include display-tiny {
      display: none;
    }
    @include display-large {
      display: block;
    }
    cursor: pointer;
    text-decoration-line: none;
    color: black;
    font-family: "Gwendolyn", sans-serif;
    font-size: rem(30px);
    font-weight: weight(bold);
  }
}
